<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>CO2 Emission Predictor</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict CO2 Emission of Vehicles</h1>
     <h3> Enter the following values to predict the CO2 emission from the vehicle</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="float" name="nitrogen" placeholder="Nitrogen" required="required" />
        <input type="float" name="phosphorous" placeholder="Phosphorous" required="required" />
		  <input type="float" name="Potassium" placeholder="Potassium" required="required" />
      <input type="float" name="temperature" placeholder="temperature(celsius)" required="required" />
      <input type="float" name="humidity" placeholder="humidity (%)" required="required" />
      <input type="float" name="pH" placeholder="pH" required="required" />
      <input type="float" name="rainfall" placeholder="rainfall (mm)" required="required" />
        <button type="submit" class="btn">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>